/ {
    leds {
        compatible = "gpio-leds";

        red_led: red_led {
            gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
            label = "External Red LED";
        };
    };

    aliases {
        ext-red-led = &red_led;
    };
};