source "Kconfig.zephyr"

menu "LED Application"

config LED_BLINK_TIME_MS
    int "LED blink time (ms)"
    default 1000
    range 500 2000
    help
        Set the LED blink time in milliseconds.

endmenu